<%= partial "partials/head" %>
<div id="container">
  <div class="layout">
    <div class="layout--section">
      <div class="menubar">
        <div class="menubar--section">
          <div class="logo">
            <a href="/#">Offcourse_</a></div>
          </div>
        <div class="menubar--section">
          <ul class="actions-panel">
            <li data-button-type="textbar" class="button" data-reactid=".0.0.0.1.0.$sign-in">Sign In</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="layout--section">
      <div class="main">
        <div class="main--section">
          <div class="dashboard">
            <div class="dashboard--main">
              <div class="container">
                <div class="card">
                  <div class="card--section">
                    <a href="/#" class="title">
                      What is Offcourse_?
                    </a>
                  </div>
                  <div class="card--section">
                    <div class="subtitle"> <%= blog('frontpage').articles[0].body %> </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="card">
                  <div class="card--section">
                    <a href="/#" class="title">
                      Learn about Offcourse_
                    </a>
                  </div>
                  <%= partial("partials/card", :locals => { :active => current_page.data.active }) %>
                  <div class="card--section">
                    <div class="labels">
                      <span class="label"><a href="#">Learn!</a></span>
                      <span class="label"><a href="#">Get Credit!</a></span>
                      <span class="label"><a href="#">Structure!</a></span>
                      <span class="label"><a href="#">Curate!</a></span>
                      <span class="label"><a href="#">Explore!</a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= yield %>