<%= partial "partials/head" %>
<div id="container">
  <div class="layout">
    <%= yield %>
    <div class="layout--section footer padding-tb-two">
      <div class="grid">
        <div class="grid--section">
        </div>
        <div class="grid--section">
          <p class="title padding-b-third">Follow us on:</p>
          <div class="container">
            <a data-button-type="sheet" class="button" href="https://github.com/OffCourse/offcourse-frontend">Github</a>   
            <a data-button-type="sheet" class="button" href="https://twitter.com/offcourse_">Twitter</a>   
            <a data-button-type="sheet" class="button" href="https://www.linkedin.com/company/7962249">LinkedIn</a>   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/footer" %>
