---
layout: post
partial: erb
page: roadmap
tags: general
order: 2
title: Introduction
date: 31-10-2015
---
<div class="container padding-tb-one">
  <h1 class="logo">Features</h1>
</div>

<% for feature in data.issues %>
  <%= partial("partials/roadmap-item", :locals => { :feature => feature }) %>
<% end %>