<div class="card--section">
  <ul data-list-type="todo" class="list">
    <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
      <a href="/#">
        <span>Features</span>
      </a>
    </li>
    <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
      <a href="/team.html" >
        <span>Team</span>
      </a>
    </li>
    <li data-item-type="todo" class="list--item" <% if active == "signup" %>data-selected="true"<% end %> >
      <a href="/signup.html">
        <span>Signup</span>
      </a>
    </li>
  </ul>
</div>