<div id="sticky" class="container sticky">
  <div class="card">
    <div class="card--section">
      <a href="#" class="title">
        Learn about Offcourse_
      </a>
    </div>
    <div class="card--section">
      <ul data-list-type="todo" class="list">
        <a href="#features">
        <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
            <span>Features</span>
        </li>
        </a>
        <a href="#preview">
        <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
            <span>Preview</span>
        </li>
        </a>
        <a href="#signup">
        <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
            <span>Signup</span>
        </li>
        </a>
        <a href="#team" >
        <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
            <span>Team</span>
        </li>
        </a>
      </ul>
    </div>
  </div>
</div>