<div class="container">
  <div class="card">
    <div class="card--section">
      <a href="/#" class="title">
        Learn about Offcourse_
      </a>
    </div>
    <div class="card--section">
      <ul data-list-type="todo" class="list">
        <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
          <a href="/#">
            <span>Features</span>
          </a>
        </li>
        <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
          <a href="/team.html" >
            <span>Team</span>
          </a>
        </li>
        <li data-item-type="todo" class="list--item" <% if active == "signup" %>data-selected="true"<% end %> >
          <a href="/signup.html">
            <span>Sign Up</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="card--section">
      <div class="labels">
        <span class="label"><a href="#">Offcourse_</a></span>
        <span class="label"><a href="#">Learning Tools</a></span>
        <span class="label"><a href="#">Research Tools</a></span>
        <span class="label"><a href="#">Content Curation</a></span>
        <span class="label"><a href="#">Reference Management</a></span>
      </div>
    </div>
  </div>
</div>