<div class="container">
  <div class="card">
    <div class="card--section">
      <img src="images/cth-icon.svg" class="feature--image">
    </div>
    <div class="card--section">
      <p class="title">
        <%= concept.concept %>
      </p>
    </div>
    <div class="card--section">
      <p>
        <%= concept.summery %>
        
      </p>
    </div>
  </div>
</div>