    <script src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script src="https://bowercdn.net/c/polyfill-f447de8eca794b54851b585736e2ea08cc176f60/dist/polyfill.min.js"></script>
    <script src="https://bowercdn.net/c/polyfill-f447de8eca794b54851b585736e2ea08cc176f60/demos/position-sticky/polyfill.position-sticky.js"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>