<section class="container padding-tb-one" role="navigation" data-container-type="fw">
  <div class="sheet js--nav" data-sheet-sticky="false">
    <div class="sheet--section">
      <div class="padding-b-twothird">
          <a href="#" class="t--title">
              Offcourse
          </a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="/index.html">
          <li data-item-type="todo" class="list--item"  >
              <span>Home</span>
          </li>
          </a>
          <a href="/courses.html">
          <li data-item-type="todo" class="list--item"  >
              <span>Courses</span>
          </li>
          </a>
          <!-- <a href="/team.html" >
          <li data-item-type="todo" class="list--item">
              <span>Team</span>
          </li>
          </a>
          <a href="/about.html" >
          <li data-item-type="todo" class="list--item" >
              <span>About</span>
          </li>
          </a> -->
          <a href="/contribute.html" >
          <li data-item-type="todo" class="list--item" >
              <span>Contribute</span>
          </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</section>
