<section class="container padding-t-one" role="navigation" data-container-type="fw">
  <div class="sheet js--nav">
    <div class="sheet--section">
      <h1 class="sheet--title">Documentation</h1>
    </div>
  <% categories = ["general", "styleguide", "technical", "assets"]
  for category in categories %>
    <div class="sheet--section">
      <h1 class="sheet--subtitle"><%= category.titleize %></h1>
    </div>
    <div class="sheet--section" data-collapsable="true">
      <ul class="list" data-list-type="todo">
        <% pages = []
        for article in blog('documentation').tags[category]
          pages.push(article.data.page)
        end
        pages = pages.uniq
        for page in pages %>
        <a href="/documentation/<%= page %>.html"><li data-item-type="todo" class="list--item"><%= page.titleize %></li></a>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</section>
