<section class="container padding-tb-one" role="navigation" data-container-type="fw">
  <div class="sheet js--nav" data-sheet-sticky="false">
    <div class="sheet--section">
      <div class="padding-b-twothird">
        <a href="#" class="sheet--title">Documentation</a>
      </div>
      <div class="padding-b-twothird">
        <a href="#" class="t--subtitle">General</a>
      </div>
        <ul data-list-type="todo" class="list">
          <a href="./manifest.html"><li data-item-type="todo" class="list--item">Manifest</li></a>
          <a href="./rewards.html"><li data-item-type="todo" class="list--item">Reward Structure</li></a>
          <a href="./roadmap.html"><li data-item-type="todo" class="list--item">Roadmap</li></a>
        </ul>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">Styleguide</a>
      </div>
      <ul data-list-type="todo" class="list">
        <a href="./typography.html"><li data-item-type="todo" class="list--item">Typography</li></a>
        <a href="./colors.html"><li data-item-type="todo" class="list--item">Colors</li></a>
        <a href="./elements.html"><li data-item-type="todo" class="list--item">Elements</li></a>
        <a href="./animations.html"><li data-item-type="todo" class="list--item">Animations</li></a>
        <a href="./content.html"><li data-item-type="todo" class="list--item">Content</li></a>
      </ul>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">Technical Documentation</a>
      </div>
      <ul data-list-type="todo" class="list">
        <a href="./platform.html"><li data-item-type="todo" class="list--item">Platform</li></a>
        <a href="./marketing.html"><li data-item-type="todo" class="list--item">Marketing</li></a>
      </ul>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">Assets</a>
      </div>
      <ul data-list-type="todo" class="list">
        <a href="./presentations.html"><li data-item-type="todo" class="list--item">Presentations</li></a>
        <a href="./logos.html"><li data-item-type="todo" class="list--item">Logo's and Banners</li></a>
        <a href="./email.html"><li data-item-type="todo" class="list--item">Email</li></a>
      </ul>
    </div>
  </div>    
</section>