<div class="container padding-tb-one" role="navigation" data-container-type="fw">
  <div class="sheet js--nav" data-sheet-sticky="false">
    <div class="sheet--section">
      <div class="padding-b-twothird">
          <a href="#" class="t--title">
              About Offcourse
          </a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="#features">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Features</span>
          </li>
          </a>
          <a href="#preview">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Preview</span>
          </li>
          </a>
          <a href="#mission" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Mission</span>
          </li>
          </a>
          <a href="#team" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Team</span>
          </li>
          </a>
          <a href="#join" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Join</span>
          </li>
          </a>
        </ul>
      </div>
    </div>
  </div>    
</div>