<div class="container padding-t-one">
  <h1 class="logo">Documentation</h1>
</div>
<% 
categories = ["general", "styleguide", "technical", "assets"]
for category in categories
%>
<section class="container padding-t-one" role="navigation" data-container-type="fw">
  <div class="sheet js--nav" data-sheet-sticky="false">
    
    <div class="padding-b-twothird">
      <a href="#" class="t--title"><%= category %></a>
    </div>
    <ul data-list-type="todo" class="list">
      <%
      pages = []
      for article in blog('documentation').tags[category]
        pages.push(article.data.page)
      end
      pages = pages.uniq
      for page in pages
      %>
      <a href="/documentation/<%= page %>.html"><li data-item-type="todo" class="list--item"><%= page %></li></a>
      <% end %>
    </ul>
  </div>
</section>
<% end %>
