<% if title %>
<div class="container padding-tb-one">
  <h1 class="logo" data-logo-padded="true"><%= title %></h1>
</div>
<% end %>
<section class="container padding-b-one" data-container-type="fw">
  <div class="sheet js--anchor">
    <div class="viewer--content"><%= markdown %></div>
  </div>
</section>
