<div class="container" data-container-type="subgrid">
  <div class="sheet js--anchor">
    <img src="<%= concept.image %>" class="image padding-b-twothird" data-image-filter="true">
    <h1 class="t--title padding-b-twothird">
      <%= concept.concept %>
    </h1>
    <p class="t--text">
      <%= concept.summery %>
    </p>
  </div>
</div>