<div class="container padding-tb-one" role="navigation" data-container-type="fw">
  <div class="sheet js--nav" data-sheet-sticky="false">
    <div class="sheet--section">
      <div class="padding-b-twothird">
        <a href="#" class="t--title">
            Documentation
        </a>
      </div>
      <div class="padding-b-twothird">
        <a href="#" class="t--subtitle">
            General
        </a>
      </div>
      <div id="nav">
      <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Manifest</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Reward Structure</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span></span>
          </li>
        </ul>
      </div>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">
            Styleguide
        </a>
      </div>
      <div id="nav">
      <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Philosophy</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Typography</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Colors</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Layout</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Animations</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Content</span>
          </li>
        </ul>
      </div>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">
            Technical Documentation
        </a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Platform - Clojure</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Marketing Site - Static</span>
          </li>
          </a>
        </ul>
      </div>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">Assets</a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Presentations</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Logo & Banners</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Email</span>
          </li>
          </a>
        </ul>
      </div>
    </div>
  </div>    
</div>