<div class="container padding-b-one" data-container-type="fw">
  <div class="sheet js--anchor">
    <div class="sheet--section">
      <h1 class="t--title padding-b-twothird"><%= template %></h1>
    </div>
    <div class="sheet--section">
      <div style="width: 100%; min-height: 100px; display: flex; justify-content: center; flex-direction: column; padding: 1.375rem;" class="<%= "c--" + template %>">
      <% if text %>
        <h1 class="t--title padding-b-third">Header</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, quibusdam labore. Aut cumque vitae, autem tenetur voluptate. Quod ut, dolores debitis, corporis enim unde! In at commodi reprehenderit, quasi eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quia nesciunt quaerat minima, praesentium et, dolor quas dignissimos, eos aliquid doloribus animi! Suscipit quia nobis recusandae dolorum, optio non numquam!</p>
      <% end %>
      </div>
    </div>
    <div class="sheet--section">
      <pre class="container padding-t-one" data-container-type="fw">
        <code class="code js--css-codeblock" data-class=".<%= "c--" + template %>">
          
        </code>
      </pre>
    </div>
  </div>
</div>