<div class="container padding-tb-one" role="navigation" data-container-type="fw">
  <div class="sheet js-nav" data-sheet-sticky="false">
    <div class="sheet--section">
      <div class="padding-b-twothird">
        <a href="#" class="t--title">
            Styleguide
        </a>
      </div>
      <div class="padding-b-twothird">
        <a href="#" class="t--subtitle">
            General
        </a>
      </div>
      <div id="nav">
      <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Introduction</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Central Idea's</span>
          </li>
        </ul>
        <ul data-list-type="todo" class="list">
          <a href="#philosophy">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Design Philosophy</span>
          </li>
        </ul>
      </div>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">
            Typography
        </a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Typefaces</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Templates</span>
          </li>
          </a>
        </ul>
      </div>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">
            Layout
        </a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Colors</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Templates</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Modules</span>
          </li>
          </a>
        </ul>
      </div>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">Interactions</a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>User Journeys</span>
          </li>
          </a>
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Visual Feedback</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Animations</span>
          </li>
          </a>
        </ul>
      </div>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">Content</a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Writingstyle</span>
          </li>
          </a>
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Taglines</span>
          </li>
          </a>
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Platform Content</span>
          </li>
          </a>
        </ul>
      </div>
      <div class="padding-tb-twothird">
        <a href="#" class="t--subtitle">Assets</a>
      </div>
      <div id="nav">
        <ul data-list-type="todo" class="list">
          <a href="#typefaces">
          <li data-item-type="todo" class="list--item" <% if active == "features" %>data-selected="true"<% end %> >
              <span>Presentations</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Logo & Banners</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Email Signatures</span>
          </li>
          </a>
          <a href="#templates" >
          <li data-item-type="todo" class="list--item" <% if active == "team" %>data-selected="true"<% end %>>
              <span>Email Templates</span>
          </li>
          </a>
        </ul>
      </div>
    </div>
  </div>    
</div>