<section class="container padding-b-one" data-container-type="subgrid">
  <div class="sheet js--anchor">
    <img src="<%= concept.image %>" class="image padding-b-twothird">
    <h1 class="sheet--title padding-b-twothird">
      <%= concept.concept %>
    </h1>
    <p class="sheet--text">
      <%= concept.summery %>
    </p>
  </div>
</section>
