<div class="container">
  <div>
    <img src="/images/people/<%= person.data.img %>" alt="">
  </div>
  <div>
    <a href="<%= person.data.linkedin || 'https://www.linkedin.com/vsearch/f?type=all&keywords=' + person.data.name %>">
      <h2 class="title"><%= person.data.name %></h2>
    </a>
    <p><%= person.body %></p>
  </div>
</div>
