---
layout: post
partial: erb
page: colors
tags: styleguide
order: 1
title: Raw Colors
date: 31-10-2015
colors: 
- night
- dark
- medium
- light
- very-light
- day
- primary
---
<div class="container padding-b-one">
  <h1 class="logo">Raw Colors</h1>
</div>

<section class="container padding-b-one" data-container-type="fw">
  <div class="sheet js--anchor">
    <div style="display: flex; flex-wrap: wrap;">
      <% for color in current_page.data.colors %>
      <div style="width: 25%; min-height: 100px; display: flex; justify-content: center; align-items: center;" class="<%= "c--" + color %>"><h1 class="t--title"><%= color %></h1></div>
      <% end %>
    </div>
    <% for color in current_page.data.colors %>
    <div class="sheet--section">
      <pre class="container padding-t-one" data-container-type="fw">
        <code class="code js--css-codeblock" data-class=".<%= "c--" + color %>"></code>
      </pre>
    </div>
    <% end %>
  </div>
</section>