---
layout: post
partial: erb
page: typography
tags: styleguide
title: Templates
order: 2
date: 31-10-2015
templates: 
- banner
- logo
- title
- form
- list
- subtitle
- text
- label
---
<div class="container padding-tb-one">
  <h1 class="logo">Templates</h1>
</div>

<% for template in current_page.data.templates %>
<%= partial("partials/typography-item", :locals => { :template => template, :long => false }) %>
<% end %>