---
layout: post
partial: erb
page: typography
order: 3
title: Viewer
date: 31-10-2016
---
<div class="container padding-b-one">
  <h1 class="logo">Content</h1>
</div>
<section class="container padding-b-one" data-container-type="fw">
  <div class="sheet js--anchor">
    <div class="viewer--content">
    
      <h1> Hamburgefontstiv - Header One   </h1>
      <h2> Hamburgefontstiv - Header Two   </h2>
      <h3> Hamburgefontstiv - Header Three </h3>
      <h4> Hamburgefontstiv - Header Four  </h4>
      <h5> Hamburgefontstiv - Header Five  </h5>
      <h6> Hamburgefontstiv - Header Six   </h6>

      <p> Paragraph: Lorem <strong> strong </strong> sit amet, consectetur <i> italics </i> elit. Nesciunt rem quos, <b> bold </b> officiis eveniet. <a>Link</a> Ex illum magnam sint exercitationem excepturi, perferendis eligendi, <code>inlineFuction(withParameters)</code> quo nihil voluptatem nam, repudiandae nulla in praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestias architecto. Voluptatum commodi dolores, eos necessitatibus aliquam voluptates eum magni, quos, architecto quas voluptas, quod aut ut aperiam nihil itaque. </p>
      
      <p> Paragraph: Lorem <strong> strong </strong> sit amet, consectetur <i> italics </i> elit. Nesciunt rem quos, <b> bold </b> officiis eveniet. <a>Link</a> Ex illum magnam sint exercitationem excepturi, perferendis eligendi, <code>inlineFuction(withParameters)</code>quo nihil voluptatem nam, repudiandae nulla in praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestias architecto. Voluptatum commodi dolores, eos necessitatibus aliquam voluptates eum magni, quos, architecto quas voluptas, quod aut ut aperiam nihil itaque. </p>

      <h1> Hamburgefontstiv - Header One   </h1>
      
      <p> Paragraph: Lorem <strong> strong </strong> sit amet, consectetur <i> italics </i> elit. Nesciunt rem quos, <b> bold </b> officiis eveniet. <a>Link</a> Ex illum magnam sint exercitationem excepturi, perferendis eligendi, <code>inlineFuction(withParameters)</code>quo nihil voluptatem nam, repudiandae nulla in praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestias architecto. Voluptatum commodi dolores, eos necessitatibus aliquam voluptates eum magni, quos, architecto quas voluptas, quod aut ut aperiam nihil itaque. </p>

      <p> Paragraph: Lorem <strong> strong </strong> sit amet, consectetur <i> italics </i> elit. Nesciunt rem quos, <b> bold </b> officiis eveniet. <a>Link</a> Ex illum magnam sint exercitationem excepturi, perferendis eligendi, <code>inlineFuction(withParameters)</code>quo nihil voluptatem nam, repudiandae nulla in praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestias architecto. Voluptatum commodi dolores, eos necessitatibus aliquam voluptates eum magni, quos, architecto quas voluptas, quod aut ut aperiam nihil itaque. </p>

      <ul>
        <li>First Item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptatibus consectetur ad amet, fuga consequatur quos eligendi labore voluptates consequuntur. Iure deleniti quos aspernatur explicabo laudantium asperiores velit rem necessitatibus!</li>
        <li>Second Item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam consequatur delectus voluptatum repudiandae, quo vero error, veritatis mollitia obcaecati laboriosam consectetur odit ipsum nihil rem magni quod aliquam doloribus quis?</li>
        <li>Third Item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ex ratione necessitatibus repudiandae magni nihil corporis? Nam, quos recusandae voluptatem. Sit maiores, eos magni quae architecto autem aliquam a vel.</li>
      </ul>

      <ol>
        <li>First Item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam esse dolorem, hic, possimus suscipit aspernatur voluptatem facilis consequatur at consectetur libero fugit deserunt doloribus delectus. Provident nostrum quis, architecto minus.</li>
        <li>Second Item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eveniet necessitatibus earum, reprehenderit et sunt, nesciunt voluptate cupiditate possimus a fugit, expedita saepe officia, quia inventore tempora veniam commodi distinctio?</li>
        <li>Third Item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt numquam atque minus rerum ratione molestiae, sequi dicta ullam, esse, qui animi voluptas illum iste! Velit possimus deserunt ipsum rerum impedit.</li>
      </ol>

      <blockquote> Blockquote: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore libero fugit quo reprehenderit odio. Ipsam aliquid, vel blanditiis aperiam, delectus maiores nam porro sed accusantium quo, ducimus quis est hic?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eos, itaque id illo veniam veritatis, aliquam, dolore natus autem a vero at sit omnis dicta! Nisi ea, totam harum ad?</blockquote>

      <p> Paragraph: Lorem <strong> strong </strong> sit amet, consectetur <i> italics </i> elit. Nesciunt rem quos, <b> bold </b> officiis eveniet. <a>Link</a> Ex illum magnam sint exercitationem excepturi, perferendis eligendi, <code>inlineFuction(withParameters)</code> quo nihil voluptatem nam, repudiandae nulla in praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestias architecto. Voluptatum commodi dolores, eos necessitatibus aliquam voluptates eum magni, quos, architecto quas voluptas, quod aut ut aperiam nihil itaque. </p>

      <pre><code>@media (max-width: 767px) and (min-width: 0px) { 
  html { font-size: 55%; line-height: 1.875rem; }
}</code></pre>

      <img src="./images/iteration-current.png" alt="">

      <figcaption> Caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellendus ab, earum culpa consectetur reiciendis excepturi hic dolor voluptatem! Vel temporibus, at soluta officia sint omnis voluptate nostrum blanditiis quaerat?</figcaption>
    </div>
  </div>
</section>