---
title: Offcourse
layout: crashcourse
---
<div class="container padding-t-two">
  <div class="logo" data-logo-padded="true" id="mission">Program</div>
</div>

<div class="container padding-tb-one" data-container-type="fw">
  <div class="sheet js--anchor">
    <div class="viewer--content">
      <%= blog('clojurecourse').articles[0].body %>
    </div>
  </div>
</div>

<div class="container padding-t-two">
  <div class="logo" data-logo-padded="true" id="mission">About Offcourse</div>
</div>

<div class="container padding-tb-one" data-container-type="fw">
  <div class="sheet js--anchor">
    <div class="markdown">
      <%= blog('clojurecourse').articles[2].body %>
    </div>
  </div>
</div>

<div class="container padding-t-two">
  <div class="logo" data-logo-padded="true" id="signup">Signup</div>
</div>

<div class="container padding-tb-one" data-container-type="fw">
  <div id="join" class="sheet js--anchor">
    <%= partial("partials/signup-crashcourse") %>
  </div>
</div>