---
title: Roadmap
layout: docs
features: 
- name: Responsiveness
- name: Twitter bucket
- name: Browsing content map
- name: Personal profile / dashboard
- name: Entry for curation
---
<div class="container padding-b-one">
  <h1 class="logo">Features</h1>
</div>

<% for feature in current_page.data.features %>
<%= partial("partials/roadmap-item", :locals => { :feature => feature }) %>
<% end %>
