---
title: Roadmap
layout: docs
---
<div class="container padding-b-one">
  <h1 class="logo">Typefaces</h1>
</div>
<%= partial("partials/roadmap-item", :locals => { :template => "nitty-grotesk-bold", :long => true }) %>
<div class="container padding-b-one">
  <h1 class="logo">Templates</h1>
</div>
<%= partial("partials/roadmap-item", :locals => { :template => "nitty-grotesk-bold", :long => true }) %>
