---
title: Offcourse
layout: main
active: signup
---
<div class="main--section">
  <div class="viewer">
    <article class="viewer--content">
      <h1><%= blog('frontpage').articles[2].data.title %></h1>
      <%= blog('frontpage').articles[2].body %>
      <div class=container>
      </div>
    </article>
  </div>
</div>

