---
title: Offcourse
layout: main
active: team
---
<div class="main--section">
  <div class="viewer">
    <article class="viewer--content">
      <h1> <%= blog('frontpage').articles[3].data.title %></h1>
      <%= blog('frontpage').articles[3].body %>
      <% blog('team').articles.reverse_each do |person| %>
      <%= partial("partials/team-member", :locals => { :person => person, :extra_info => 0 }) %>
      <% end %>
    </article>
  </div>
</div>

