---
title: Offcourse
layout: main
active: team
---
<div class="main--section">
  <div class="sheets">
    <% blog('team').articles.reverse_each do |person| %>
    <div class="container">
      <div class="sheet">
        <div class="sheet--section">
          <div class="list">
            <img src="/images/people/<%= person.data.img %>" class="team--image">
          </div>
        </div>
        <a href="<%= person.data.linkedin || 'https://www.linkedin.com/vsearch/f?type=all&keywords=' + person.data.name %>" class="sheet--section">
          <article class="content">
            <h1 class="title"><%= person.data.name %></h1>
            <p><%= person.body %></p>
          </article>
        </a>
      </div>
    </div>
  <% end %>
  </div>
</div>
